html, body, .hello-parent {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .hello-parent {
    display: flex;
    background: #fff;
    background: -webkit-radial-gradient(#fff, #eaeaea); 
    background: -o-radial-gradient(#fff, #eaeaea); 
    background: -moz-radial-gradient(#fff, #eaeaea);
    background: radial-gradient(#fff, #eaeaea); 
  }
  
  .hello-word {
    margin:auto;
  }
  /* H Animation */
  
  .H-left-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: H-left-move 20s ease forwards;
  }
  
  .H-mid-stroke {
    stroke-dasharray: 37px;
    stroke-dashoffset: 37px;
    animation: H-mid-move 9s ease forwards;
  }
  
  .H-right-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: H-right-move 13s ease forwards;
  }
  
  @keyframes H-left-move {
    0% {
      stroke-dashoffset: 124px;
    }
    5% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes H-mid-move {
    0% {
      stroke-dashoffset: 37px;
    }
    5% {
      stroke-dashoffset: 37px;
    }
    10% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes H-right-move {
    0% {
      stroke-dashoffset: 124px;
    }
    5% {
      stroke-dashoffset: 124px;
    }
    10% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* E Animation */
  
  .E-left-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: E-left-move 20s ease forwards;
  }
  
  .E-top-stroke {
    stroke-dasharray: 47px;
    stroke-dashoffset: 47px;
    animation: E-top-move 10s ease forwards;
  }
  
  .E-mid-stroke {
    stroke-dasharray: 42px;
    stroke-dashoffset: 42px;
    animation: E-mid-move 10s ease forwards;
  }
  
  .E-bottom-stroke {
    stroke-dasharray: 47px;
    stroke-dashoffset: 47px;
    animation: E-bottom-move 10s ease forwards;
  }
  
  @keyframes E-left-move {
    0% {
      stroke-dashoffset: 124px;
    }
    2% {
      stroke-dashoffset: 124px;
    }
    6% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes E-top-move {
    0% {
      stroke-dashoffset: 47px;
    }
    6% {
      stroke-dashoffset: 47px;
    }
    11% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes E-mid-move {
    0% {
      stroke-dashoffset: 42px;
    }
    8% {
      stroke-dashoffset: 42px;
    }
    13% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes E-bottom-move {
    0% {
      stroke-dashoffset: 47px;
    }
    11% {
      stroke-dashoffset: 47px;
    }
    16% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* L One Animation */
  
  .L-one-long-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: L-one-long-move 20s ease forwards;
  }
  
  .L-one-short-stroke {
    stroke-dasharray: 44px;
    stroke-dashoffset: 44px;
    animation: L-one-short-move 10s ease forwards;
  }
  
  @keyframes L-one-long-move {
    0% {
      stroke-dashoffset: 124px;
    }
    2% {
      stroke-dashoffset: 124px;
    }
    7% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes L-one-short-move {
    0% {
      stroke-dashoffset: 44px;
    }
    13% {
      stroke-dashoffset: 44px;
    }
    18% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* L Two Animation */
  
  .L-two-long-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: L-two-long-move 20s ease forwards;
  }
  
  .L-two-short-stroke {
    stroke-dasharray: 44px;
    stroke-dashoffset: 44px;
    animation: L-two-short-move 10s ease forwards;
  }
  
  @keyframes L-two-long-move {
    0% {
      stroke-dashoffset: 124px;
    }
    3% {
      stroke-dashoffset: 124px;
    }
    8% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes L-two-short-move {
    0% {
      stroke-dashoffset: 44px;
    }
    15% {
      stroke-dashoffset: 44px;
    }
    20% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* O Animation */
  
  .O-stroke {
    stroke-dasharray: 302px;
    stroke-dashoffset: 302px;
    animation: O-move 20s ease forwards;
  }
  
  @keyframes O-move {
    0% {
      stroke-dashoffset: 302px;
    }
    4% {
      stroke-dashoffset: 302px;
    }
    9% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* Red Dot Animation */
  
  .red-dot {
    stroke-width: 44px;
    stroke-linecap: round;
    animation: red-dot-grow 8s ease-out forwards;
  }
  
  @keyframes red-dot-grow {
    0% {
      stroke-width: 0px;
    }
    15% {
      stroke-width: 0px;
    }
    20% {
      stroke-width: 44px;
    }
    100% {
      stroke-width: 44px;
    }
  }

















  body {
    background: #e0e5ec;
  }
  h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }





  /* 6 */
.btn-6 {
    background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }

  
 






























/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    min-height: 100vh;
  font-weight: 400;
}

a {
    text-decoration: none;
}

h1 {
    color: #fef5f8;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px #d7d4d5;
    line-height: 1.5;
}

i {
    color: hsl(340, 57%, 7%);
    font-size: 27px;
}

.card-page p {
    color: #3b3a3b;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}


/* utility */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.mt-auto {
    margin-top: auto;
}

.ml-auto {
    margin-left: auto;
}

.backdrop {
    background-color: #59117a8c;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.emoji {
    font-size: 36px;
}

.lowlight {
    font-size: 50%;
    text-shadow: 0 0;
}

.full-height-width {
    width: 100%;
    height: 100%;
}

.height-80 {
    height: 70%;
}

.height-20 {
    height: 30%;
}


/* structure */

.container {
    align-self: center;
    width: 100%;
    padding: 2rem;
    margin-bottom: 4rem;
}

.card-container {
    box-shadow: 0 0 0.5rem #dbd1d5;
    height: 400px;
    width: 420px;
    position: relative;
}

.card-page {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-page>div {
    padding: 0.5rem 1rem 1rem;
}

.card-page .height-80 {
    padding-top: 1rem;
}

.next-page {
    background-color: #fef5f8;
    padding: 0.5rem 1rem;
    width: 100%;
}

.cover {
    background-color: #fef5f8;
    z-index: 4;
}

.first-page {
    background-color: #fef5f8;
    z-index: 3;
}

.second-page {
    background-color: #fef5f8;
    z-index: 2;
}

.last-page {
    background-color: #fef5f8;
    z-index: 1;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: 700;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}





















































/* ---- reset ---- */

body {
  margin: 0;
  background-color: #17182f;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}







  







 

